
.login-container {
  background-color: #fff;
  padding: 30px;
  width: 300px;
  margin: 100px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(142, 2, 121, 0.1);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #ffa7dd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #e88dca;
}

.mensagem {
  margin-top: 10px;
  color: gray;
  font-size: 14px;
}
